site_name: GKMIT INSIDE Documentation
site_description: Knowledge-sharing platform for the GKMIT community
site_author: GKMIT Team

theme:
  name: material
  logo: assets/images/gkmit_inside_logo.png
  favicon: assets/images/gkmit_inside_favicon.ico
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    # - navigation.tabs
    # - navigation.top
    - navigation.expand
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  
  font:
    text: Outfit
    code: Roboto Mono

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Key Features: key-features.md
  - Tech Stack: tech-stack.md
  - Pages and Endpoints: prototypes-endpoints.md
  # - Role Based Access Control: rbac.md
  - Use and Functional Cases: functional-cases.md
  - Business Cases: business-cases.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/GKMIT-Inside/Documentation