site_name: GKMIT INSIDE Documentation
site_description: Knowledge-sharing platform for the GKMIT community
site_author: GKMIT Team

theme:
  name: material
  logo: assets/images/gkmit_inside_logo.png
  favicon: assets/images/gkmit_inside_favicon.ico
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - search.highlight
    - content.code.copy
    - content.tabs.link
    - toc.integrate
  
  font:
    text: Outfit
    code: Roboto Mono

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
nav:
  - Home: index.md
  - Key Features: key-features.md
  - Tech Stack: tech-stack.md
  - Database Schema: database-schema.md
  - Pages and Endpoints: prototypes-endpoints.md
  - System Architecture: system-architecture.md
  - Data Flow Diagrams:
      - Level 0 DFD: data-flow-diagram-level-0.md
      - Level 1 DFD: data-flow-diagram-level-1.md
      - Level 2 DFD:
          - Authentication Module : auth-module.md
          - User Management Module : user-management-module.md
          - Post Management Module : post-management-module.md
          - Feed & Content Delivery Module : feed-content-delivery-module.md
          - Interaction System : interaction-system.md
          - Analytics Dashboard Module : analytics-dashboard-module.md
  - Test Cases:
        - Test Plans: test-plans.md
        - Functional Test Cases: 
          - TC 1 - Landing Page Test Cases: landing-page-test-cases.md 
          - TC 2 - Authentication & Authorization: functional-test-cases.md



  - Use and Functional Cases: functional-cases.md
  - Business Cases: business-cases.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/GKMIT-Inside/Documentation